<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ChineseCardsProduct.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0A8CCB801F447C46006ED5A3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0A8CCB9A1F447C47006ED5A3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0A8CCBA51F447C47006ED5A3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
